<!--
  ~ Copyright 2014 Johannes Donath <johannesd@torchmind.com>
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ 	http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<blockquote class="commit">
	<div class="row">
		<div class="col-sm-2 commit-avatar text-center">
			<img class="avatar" src="https://secure.gravatar.com/avatar/{{author.avatarIdentifier}}.jpg?s=55&r=pg&d=identicon" />
		</div>
		<div class="col-sm-10 commit-body">
			<h4>{{message}}</h4>
			{{#if linkedIssues}}
				<ul class="linked-issues">
					{{#each linkedIssues}}
						<li><a href="https://hub.spigotmc.org/jira/browse/{{key}}"><span class="label label-warning">{{key}}</span> {{summary}}</a></li>
					{{/each}}
				</ul>
			{{/if}}
			<footer>
				<a href="{{link}}">{{displayIdentifier}}</a> by {{author.name}}
			</footer>
		</div>
	</div>
</blockquote>